# Параметры подключения к серверу
DEPLOY_USER=deploy-user
DEPLOY_HOST=150.150.150.150
DEPLOY_REF=origin/master

# Адрес монорепозитория (бэкенд и фронтенд в одном репозитории)
DEPLOY_REPO=https://github.com/Username/nodejs-pm2-deploy.git

# Пути на сервере, куда будут клонироваться проекты
DEPLOY_PATH_BACKEND=/home/first-try-yandex/mesto-backend
DEPLOY_PATH_FRONTEND=/home/first-try-yandex/mesto-frontend

# Путь к SSH-ключу для pre-deploy команды (опционально)
DEPLOY_SSH_KEY=~/.ssh/id_ed25519_me